QPushButton[circle="true"] {
    border-width: 2px;
    border-color: #858c99;
    border-style: solid;
    border-radius: 27px;
    width: 50px;
    height: 50px;
    color: #ffffff;
}

QPushButton[circle="true"]:hover {
    background-color: #3d4457;
}

QPushButton[material-icon="true"] {
    font-family: "Material Icons";
    font-size: 24px;
}

QTabBar::tab {
    font-family: "Material Icons";
    font-size: 24px;
    height: 36px;
}
