#topbar {
    background-color: #3c3c3c;
}

#topbar > QPushButton {
    color: #cccccc;
}

#topbar > #buttonClose:hover {
    background-color: #d71526;
    color: #fcf1f2;
}

QMainWindow,
NotificationWidget {
    background-color: #252526;
}

QTabWidget > QWidget,
QTabWidget::pane {
    background-color: #1e1e1e;
}

QLabel {
    color: #ffffff;
}

QTabBar::tab {
    color: #969696;
    background-color: #2d2d2d;
}

QTabBar::tab:selected {
    background-color: #1e1e1e;
    color: #ffffff;
}

QPushButton#buttonPomodoro {
    color: #adadad;
    border-color: #adadad;
}

QPushButton#buttonPomodoro:hover {
    color: #ffffff;
    border-color: #ffffff;
}

QSlider::groove:horizontal {
    height: 2px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #3c3c3c;
}

QSlider::handle:horizontal {
    background-color: #007acc;
    border-radius: 10px;
    width: 20;
    margin: -10px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
}

QPushButton {
    background-color: #3c3c3c;
    border: none;
    min-height: 21px;
    min-width: 80px;
    color: #ffffff;
}

QPushButton:hover {
    background-color: #505050;
}

QCheckBox {
    color: #ffffff;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    background-color: #3c3c3c;
}

QCheckBox::indicator:hover {
    background-color: #505050;
}

QCheckBox::indicator:checked {
    image: url(":/icons/ic_check_white.svg");
}

TimerProgressWidget {
    qproperty-background: #3c3c3c;
    qproperty-fillColorWork: #d71526;
    qproperty-fillColorShortBreak: #007acc;
}
